body {
    font: 12pt Arial;
}

input {
    font-size: 12pt; padding: 20px;
}

mark {
    color: green;
    background-color: rgb(132, 218, 132);
}

mark01 {
    color: rgb(255, 175, 27);
    background-color:rgb(255, 234, 195);
}

mark02 {
    color: rgb(160, 0, 0);
    background-color: rgb(255, 145, 145);
}